footer{
    background: rgb(20, 20, 20);
    color: #fff;
    padding: 2rem 5rem;
}

footer .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

footer .top .top-left h1{
    font-size: 2rem;
    padding-bottom: 0.6rem;
}

footer .social-icons{
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .social-icons i{
    font-size: 1.5rem;
    background: #fff;
    color: #000;
    padding: 0.5rem;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

footer .social-icons i:hover{
    background: #0984e3;
    color: #fff;
    cursor: pointer;
}

.bottom{
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 2.5rem;
}

.bottom .col{
    width: 200px;
}

.bottom .col h3{
    font-size: 1.3rem;
    padding-bottom: 0.6rem;
}

.bottom .col ul li{
    list-style: none;
    line-height: 1.7rem;
    cursor: pointer;
}

.bottom .col ul li:hover{
    text-decoration: underline;
}

@media (max-width:500px) {
    footer{
        padding: 3rem 2rem;
    }
}

